<ul>
<%@forum_theme.each do |theme|%>

<li>
	<%= ong.name %>
	<%= ong.email %>
	<%= ong.description %>
	<%= link_to "Ver detalhes", {:action => 'show', :id => ong.id}, :class => 'action show' %>
</li>
<%end%>
</ul>