<%= link_to "criar Tema", new_forum_theme_path %>
<ul>
<%@forum_theme.each do |theme|%>

<li>
	<%= theme.title %>
	<%= theme.description %>
	<%= link_to "ver Tema", {:action => 'show', :id => theme.id}, :class => 'action show' %>
</li>
<%end%>
</ul>