<section id="testimonial" class="alizarin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <h2>Pense nisso!</h2>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <blockquote>
                            <p>Enquanto atitudes e discursos machistas forem considerados como simples força de expressão pela sociedade, a violência contra as mulheres será tolerada como força do hábito</p>
                            <small>Mariana Müllich <cite title="Source Title">servidora do Tribunal de Justiça do Estado do Paraná</cite></small>
                        </blockquote>
                        <blockquote>
                            <p>Machismo: apague a palavra que reescreve a todo momento histórias de violência contra a mulher</p>
                            <small>Andréa Maria dos Santos Meister, <cite title="Source Title">Advogada</cite></small>
                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        <blockquote>
                            <p>Não pode ser seu amigo quem exige seu silêncio.</p>
                            <small>Alice<cite title="Source Title">Walker</cite></small>
                        </blockquote>
                        <blockquote>
                            <p>Ele diz que sua saia está curta, você troca de saia. Ele diz que não gosta das suas amigas, você abandona suas amizades. Ele diz que prefere que você fique em casa, você larga o trabalho de que gostava. Talvez ele nunca lhe bata. Mas precisa?</p>
                            <small>Vanessa Flasmo de Oliveira Correa, <cite title="Source Title">servidora do TJ-PR</cite></small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#testimonial-->
