<section id="services" class="emerald">
    <div class="container">
        <div class="row">

            <!-- Twitter -->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-twitter icon-md"></i>
                    </div>
                  <%= link_to "https://twitter.com/appnikn" do %> 
                    <div class="media-body">
                        <h3 class="media-heading">Acompanhe pelo Twitter</h3>
                        <p>Fique por dentro das últimas notícias sobre políticas públicas e fatos relevantes no combate à violência contra a mulher no Brasil.</p>
                    </div>
                  <% end %>
                </div>
            </div><!--/.col-md-4-->

            <!-- Facebook -->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-facebook icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Nikn no Facebook</h3>
                        <p>Você não precisa entrar no Nikn todos os dias para ficar por dentro das principais notícias, acontecimentos e debates com relação as mulheres no Brasil e no mundo.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->

            <!-- Google Plus -->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-google-plus icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Veja no Google Plus</h3>
                        <p>Novidades, atualizações, novas funcionalidades do portal e várias notícias também no Google Plus.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
        </div>
    </div>
</section><!--/#services-->
