<!-- This text will be rendered in the mortality rate static page -->
<!-- It refers to the violency against women and how open data could help in this situation -->
<p>
  Entrou em vigor no Brasil, em 22 de Agosto de 2006, a Lei Maria da Penha,
  um avanço imensurável na busca pela igualdade entre gêneros e combate à violência
  contra a mulher no país. Sua introdução na Constituição descreve de forma sucinta
  sua abrangência e seu viés:
<p>

<p class="copy">
  “Cria mecanismos para coibir a violência doméstica e familiar contra a mulher, nos 
  termos do art. 226 da Constituição Federal, da Convenção sobre a Eliminação de Todas
  as Formas de Discriminação contra as Mulheres e da Convenção Interamericana para Prevenir,
  Punir a Violência contra a Mulher; dispõe sobre a criação dos Juizados de Violência
  Doméstica e Familiar contra a Mulher; altera o Código de Processo Penal, o Código Penal
  e a Lei de Execução Penal; e dá outras providências” - Lei 11.340.
</p>

<p>
  Mesmo com mecanismos legais de combate a esse tipo de violência, ainda há uma lacuna à ser
  preenchida: o cumprimento efetivo da Lei.
</p>

<p>
  No artigo denominado “Porque as mulheres não denunciam seus agressores, com a palavra a sociedade”,
  a doutora em direito penal pela PUC/SP, Alice Bianchini, lista os principais fatores que levam as
  mulheres a não denunciar seus agressores, não necessariamente em ordem:
</p>

<ul>
    <li>1.   Medo do agressor;</li>
    <li>2.   Dependência financeira em relação ao agressor;</li>
    <li>3.   Dependência afetiva em relação ao agressor;</li>
    <li>4.   Não conhecer os seus direitos;</li>
    <li>5.   Não ter onde denunciar;</li>
    <li>6.   Percepção de que nada acontece com o agressor quando denunciado;</li>
    <li>7.   Falta de autoestima;</li>
    <li>8.   Preocupação com a criação dos filhos;</li>
    <li>9.   Sensação de que é dever da mulher preservar o casamento e a família;</li>
    <li>10. Vergonha de se separar e de admitir que é agredida;</li>
    <li>11. Acreditar que seria a última vez;</li>
    <li>12. Ser aconselhada pela família a não denunciar;</li>
    <li>13. Ser aconselhada pelo delegado a não denunciar;</li>
    <li>14. Não poder mais retirar a “queixa”.</li>
</ul>

<p>
  Há visivelmente uma carência de dispositivos para que seja realizada uma análise mais profunda de
  todo esse cenário, algo que agregue dados de fontes confiáveis, com extensas informações verídicas de
  pesquisas e estudos aprofudados. Sendo assim, não se sabe até que ponto essa Lei tem ajudado mulheres
  dentro de suas casas, e não há uma forma eficaz de se realizar entrevistas com a parcela das mulheres
  violentadas, inviabilizando ainda mais o acesso e o conhecimento desse tipo de informação.
</p>

<p>
  Até poucos anos atrás, construir um sistema que agregasse tais recursos era tecnicamente, senão impossível,
  extremamente complexo. Dois fatores são relevantes nessa análise, o primeiro diz respeito à acessibilidade
  dos dados carcerários ou de violência no país, seria inestimável a burocracia para se ter acesso a esse tipo
  de informação do governo; o segundo é uma questão tecnológica, a popularização da internet é um fenômeno
  recente no Brasil, e não há maneiras de se prover uma integração social tão distinta em ambientes não
  democráticos e não neutros nos quais as próprias pessoas não fossem as protagonistas.
  Isso indicava a ineficiência de outros meios de comunicação como promotora do cumprimento da Lei Maria da Penha.
</p>

<p>
  Eis a proposta da plataforma Nikn. Com a rápida popularização da internet, o tafor comunicação deixou de
  ser um problema e, em relação à burocracia ao acesso às informações necessárias para levantamentos consistentes,
  foi aprovada, em 2011, a lei nº 12.527/2011, que estabelece a obrigatoriedade de se apresentar dados
  governamentais para a população, prezando-se pela transparência na gestão dos recursos públicos em qualquer âmbito.
  Na teoria, uma vitória e um grande avanço para a sociedade: acesso à informação, gráficos, mapas, análises
  profundas dos dados levantados. 
  Na prática, tabelas gigantescas impossíveis de serem interpretadas por qualquer cidadão interessado. A chave de tudo
  é que, ao menos, há maneiras de se automatizar a obtenção desses dados nas plataformas disponibilizadas pelo
  governo e então, utilizando algoritmos específicos, trabalhar sobre esses dados para gerar informações de
  fácil interpretação e com um valor social agregado.
</p>

<p>
  A solução desse problema estará longe de ser atingida mesmo com a eficiência de um serviço que contenha
  dados mais precisos e atualizados, que integre a sociedade e as organizações e que tenha um viés informativo
  e prevencionista. A super lotação do sistema carcerário, a burocracia no julgamentos dos réus e a cultura
  patriarcal enraizada na sociedade brasileira, são alguns exemplos de dificuldades impossíveis de serem
  tratadas por um sistema dessa natureza.
</p>
