<div class = "center jumbotron">
	<h1>NIKN</h1>
	<p>Bem-vindo a plataforma NIKN</p>
	<a href="https://github.com/GPP-MDS-Nikn/Nikn/tree/crud_event" class="btn btn-lg btn-primary">Acompanhe nossos eventos!</a>
</div>