<div class="col-lg-12 text-center">
  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="img-responsive img-full" <%= image_tag("grafico1_Ligue180_Balanco2014.png")%>>
      </div>
      <div class="item">
        <img class="img-responsive img-full"<%= image_tag("infografico-sobre-estupro_anuario-brasileiro-de-seguranca-publica.jpg")%>>
      </div>
      <div class="item">
        <img class="img-responsive img-full" <%= image_tag("Mapa-da-violencia_infografico-homicidios-femininos.jpg")%>>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next"></span>
    </a>
  </div>
  <h2 class="brand-before">Bem vindo à</h2>
  <h1 class="brand-name">NIKN</h1>
  <hr class="tagline-divider">
  <h2>
    <strong>Auxílio às mulheres vítimas de violência</strong>
  </h2>
</div>

<div class = "center jumbotron">
  <a href="/portal_posts" class="btn btn-lg btn-primary">Acompanhe nossas informações!</a>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12 text-center">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">O sistema <strong>Trata</strong></h2>
        <hr>
        <p>
            Nikn visa prover informações sobre a violência contra as mulheres no Brasil e oferecer
			suporte às pessoas que sofrem com isso. Usamos os dados abertos fornecidos pelo governo e
			os organizamos de maneira útil e facilitada, oferecendo uma melhor opção para o acesso a
			informação.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="box">
	<div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">Calendário de <strong>Eventos</strong></h2>
      <hr>
      <div class="text-center">
        <a href="/events" class="btn btn-lg btn-primary">Acompanhe nosso Calendário!</a>
      </div>
    </div>
  </div>
</div>
