<!-- This page contains a simple text about open data and your impact in the violency against women -->

<h1>Dados abertos e a violência contra a mulher</h1>
<%= render "text_about_opendata_and_violency" %>

<h2>Dados disponíveis:</h2>

<div id="table-of-available-opendata">
  <ul>
    <li>
      <%= link_to mortality_rates_path do %>
        Taxa de mortalidade entre as mulheres vítmas de violência por região.
      <% end %>
    </li>
  </ul>
</div>
