<section id="recent-works">
    <div class="container">
        <div class="row">
            <!-- Service explanation -->
            <div class="col-md-3">
                <h3>Últimas notícias</h3>
                <p>Acompanhe as últimas notícias de nosso portal, políticas públicas, legislação, direito e muito mais informações.</p>
                <div class="btn-group">
                    <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
                <p class="gap"></p>
            </div>

            <div class="col-md-9">
                <div id="scroller" class="carousel slide">
                    <div class="carousel-inner">


                      <% @grouped_last_posts.each do |each_group_of_posts| %>
                        <div class="<%= "item"  + (" active" if @grouped_last_posts.first == each_group_of_posts)%>">
                            <div class="row">
                                <% each_group_of_posts.each do |each_post| %>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="#" alt="">
                                                <h5>
                                                   <%= each_post.title %>
                                                </h5>
                                                <p>
                                                  <%= each_post.body[0...200] + "... Leia Mais" %>
                                                </p>
                                                <div class="overlay">
                                                    <%= link_to each_post, class: "preview btn btn-danger", title: "Veja mais" do %>
                                                      <!-- Eye icon" -->
                                                      <i class="icon-eye-open"></i>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div><!-- End of row -->
                        </div><!-- End of each item -->
                      <% end %>


                    </div><!-- End of carrousel-inner -->
                </div><!-- End of scroller -->
            </div><!-- End of col-md-9 -->
        </div><!--/.row-->
    </div>
</section><!--/#recent-works-->
