<% provide(:title, "| Portal") %>

<h1>Portal de Informações</h1>

<div class="portal-posts">
	<% @portal_posts.each do |post| %> 
		<%= link_to(post) do %>
			<div class="portal-post center-block">
				<%if post.image_file.present? %>
					<%= image_tag(post.image_file.url(), class: "image center-block") %>
				<%else%>
					<%= image_tag("nikn_default_banner.png", class: "image center-block") %>
				<%end%>
				<p class="title"><%= post.title %></p>
			</div>
		<% end %>
	<% end %>
</div>

<a href="/portal_posts/new">
	<button type="button" class="btn btn-default center-block" aria-label="Left Align">
		<p>Nova Postagem</p>
	</button>
</a>
