<% provide(:title, @event) %>

<% @event.errors.full_messages.each do |message| %>
    <div class="error_msg">
        <%=message%>
    </div>

<%end%>

<div class="row">
    <aside class="col-md-4">
        <section class="event_info">
            <h1>
                <%= @event.name %><br/>
                <%= @event.date %><br/>
            </h1>
        </section>
    </aside>
</div>