<% provide(:title, "| Eventos") %>

		<!-- Display fullcalendar -->
		<br><br>
		<div id="calendar"></div>

<% @events.each do |event| %>
  <%= link_to(event) do %>
		<h2><%= event.name %></h2>
	<% end %>
<%end%>

<a href="/events/new">
	<button type="button" class="btn btn-default center-block" aria-label="Left Align">
		<p>Novo Evento</p>
	</button>
</a>
