<% @events.each do |event| %>

    <h2><%= event.name %></h2>
    <%= link_to "Detalhes", event %>
    <hr/>


<%end%>

<%= link_to "Criar novo evento", "#{events_path}/new", class: "btn btn-primary" %>
