<% provide(:title, @event) %>
<div class="row">
	<aside class="col-md-4">
		<section class="event_info">
			<h1>
				<%= @event.name %><br>
				<%= @event.local %><br>
				<%= @event.description %><br>
				<%= @event.date %><br>
			</h1>
		</section>
	</aside>
</div>