<%if ong_signed_in? %>
<%= link_to 'Editar', edit_ong_registration_path, :get => :edit %>
<%end%>
<ul>
<%@ong.each do |ong|%>

<li>
	<%= ong.name %>
	<%= ong.email %>
	<%= ong.description %>
</li>
<%end%>
</ul>