<div id="posts">
  <% @forum_posts.each do |forum_post| %>
    <div class="post">
      <h2 class="title">
        <%= link_to forum_post.title, forum_post %>
      </h2>
      <p class="date">
        Published at
        <%= time_ago_in_words(forum_post.created_at) %>
      </p>
    </div>
  <% end %>
</div>