<div id="posts">
  <% @forum_posts.each do |forum_post| %>
    <div class="post">
      <h2 class="title">
        <%= link_to forum_post.title, forum_post %>
      </h2>
      <p class="date">
        Publicado hรก
        <%= time_ago_in_words(forum_post.created_at) %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to 'Novo Post', new_forum_post_path %>