.text-position th{
  text-align: left;
}

.text-position td{
  text-align: left;
}

.search-form{
  display: block;
  text-align:left;
  clear: both;
}

.search-form-field{
  float: left;
  margin-left: 30%;
  width:40%;
}

.search-form-button{
  margin-left: 1%;
  width:10%;
}

.uda-information {
  //border: 1px solid black;
  width: 100%;
  margin: auto;
  overflow: hidden;

  .unit-description {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.not-found {
  clear: both;
  text-align: center;
}
