.text-position th{
  text-align: left;
}

.text-position td{
  text-align: left;
}

.search-form{
  display: block;
  text-align:left;
  clear: both;
}

.search-form-field{
  float: left;
  margin-left: 30%;
  width:40%;
}

.search-form-button{
  margin-left: 1%;
  width:10%;
}
