html, body, p {
  margin: 0;
}

body {
	background-color: #ededed;
}

.portal_posts {
  margin: 40px 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.portal_post {
  background-color: #fff;
  padding: 16px;
  margin-bottom: 10px;
}

.portal_post .title {
	color: black;
  font-size: 18px;
}

.portal_post .subtitle {
	color: gray;
  font-size: 10px;
}

.portal_post .body {
  margin-top: 10px;
	color: black;
  font-size: 12px;
}

.portal_posts a {
	position: auto;
  background-color: blue;
  border: none;
  border-radius: 1px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  text-decoration: none;
}

.portal_posts a:hover {
  background-color: green;
}