<p id="notice"><%= notice %></p>

<h1 class="w">Dados de Unidades de Atendimento a Mulher</h1>

<div class="img-responsive aspect data_background"></div>
<table class="table table-striped w">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th>UF</th>
    </tr>
  </thead>

  <tbody>
    <% @care_units.each do |unit| %>
    <tr>
      <td><%= unit.name %></td>
      <td><%= unit.city %></td>
      <td><%= unit.district %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
