<section id="bottom" class="wet-asphalt">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Sobre Nós</h4>
                <p>Somos um grupo de estudantes da Universidade de Brasília que vislumbrou uma plataforma acolhedora e integradora, que reunisse várias experiências e recursos, funcionando como um poderoso canal de comunicação e esclarecimento de forma a fomentar a continuidade da luta pelo direito das mulheres no Brasil.</p>
                <p>Seja bem vindo ao Nikn!</p>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4>Plataforma Nikn</h4>
                <div>
                    <ul class="arrow">
                        <li><a href="#">Como surgiu?</a></li>
                        <li><a href="#">Aplicativo iOS</a></li>
                        <li><a href="#">Universidade de Brasília</a></li>
                        <li><a href="#">Dados Abertos</a></li>
                        <li><a href="#">Lei Maria da Penha</a></li>
                        <li><a href="#">Fale Conosco</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">Apoie essa ideia</a></li>
                        <li><a href="#">Desenvolvedores</a></li>
                        <li><a href="#">Software Livre</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4>Você também é Nikn</h4>
                <div>
                    <ul class="arrow">
                        <li><a href="#">Divulgue seu projeto</a></li>
                        <li><a href="#">Publique uma notícia</a></li>
                        <li><a href="#">Participe do nosso fórum</a></li>
                        <li><a href="#">Divulgue seu evento</a></li>
                        <li><a href="#">Cadastre sua ONG</a></li>
                        <li><a href="#">Unidades de Apoio</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4>Deseja colaborar?</h4>
                <address>
                    <strong>Faça parte dessa ideia!</strong><br>
                    Necessitamos de voluntários para<br>
                    manutenção das publicações e<br>
                    e dos fóruns, entre em contato.<br><br>
                    <abbr title="Phone">T:</abbr> (61) XXXX-XXXX
                </address>
                <h4>Notícias</h4>
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" placeholder="Digite seu e-mail">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">Ir!</button>
                        </span>
                    </div>
                </form>
            </div> <!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->
