<section id="bottom" class="wet-asphalt">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Sobre Nós</h4>
                <p>Somos um grupo de estudantes da Universidade de Brasília que vislumbrou uma plataforma acolhedora e integradora, que reunisse várias experiências e recursos, funcionando como um poderoso canal de comunicação e esclarecimento de forma a fomentar a continuidade da luta pelo direito das mulheres no Brasil.</p>
                <p>Seja bem vindo ao Nikn!</p>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4>Plataforma Nikn</h4>
                <div>
                    <ul class="arrow">
                        <li><a href="#">Aplicativo iOS</a></li>
                        <li><a href="https://fga.unb.br/">Universidade de Brasília</a></li>
                        <li><a href="http://dados.gov.br/dados-abertos/">Dados Abertos</a></li>
                        <li><a href="http://www.planalto.gov.br/ccivil_03/_ato2004-2006/2006/lei/l11340.htm">Lei Maria da Penha</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">Apoie essa ideia</a></li>
                        <li><a href="https://github.com/GPP-MDS-Nikn/Nikn/graphs/contributors">Desenvolvedores</a></li>
                        <li><a href="http://softwarelivre.org/">Software Livre</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4>Você também é Nikn</h4>
                <div>
                    <ul class="arrow">
                        <li><%= link_to "Dados Abertos", "/opendata" %></li>
                        <li><%= link_to "Cadastre sua ONG", new_registration_path(:ong) %></li>
                        <li><%= link_to "Unidades de Apoio", care_units_path %></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4>Deseja colaborar?</h4>
                <address>
                    <strong>Faça parte dessa ideia!</strong><br>
                    Necessitamos de voluntários para<br>
                    manutenção das publicações e<br>
                    e dos fóruns, entre em contato.<br><br>
                    <abbr title="Phone">T:</abbr> (61) 9999-9999
                </address>
                <h4>Notícias</h4>
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" placeholder="Digite seu e-mail">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">Ir!</button>
                        </span>
                    </div>
                </form>
            </div> <!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->
